h1{
  font-family: 'Do Hyeon', sans-serif;
}

img{
  display: flex;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.text{
  text-align: center;
  /*color: white;*/
}
p{
  font-family: 'Nanum Gothic', sans-serif;
}
body{
  background-image: url(../img/background_1.jpg);
  background-size: cover;
  /* background-color: LightBlue; */
}
#content {
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: absolute;
    width: 750px;
    height: 417px;

    margin-top: -208.5px; /* HALF OF THE HEIGHT */
    /*margin-left: -375px; /* HALF OF THE WIDTH */
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;

}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: fixed;
  right: 0;
  top: 0;

}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}
#icons{
  display: inline-block;
}
@media only screen and (min-width: 768px) {
ul{
  text-align: center;
}
  li{
    display: inline-block;

  }
  #content1:after{
    content: "\a";
    white-space: pre;
  }
  #content2:before{
    content: "\a";
    white-space: pre;
  }
  iframe{
    width: 700px;
    height: 520px;

  }
  .projectDiv{
    display: inline-block;
  }
  /* .project{
    display: inline-block;
    align-items: flex-start; */
    #content{
      justify-content: space-around;
      align-items: baseline;
  }
  #name{
    align-items: center;
  }
  /* #projects{
    display:inline-block;
  } */
}
